version: "3.8"

services:
  minio:
    build: .
    container_name: mini_minio
    volumes:
      - minio-data:/data
    environment:
      # Credentials
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin123}

      # Buckets Config
      # Format: "name:mode,name2:mode2"
      # Modes: public, private, ip=1.2.3.4
      MINIO_BUCKETS: ${MINIO_BUCKETS:-anivault:public}

      # URLs
      # ⚠️ MUST include scheme (http:// or https://)
      MINIO_SERVER_URL: ${MINIO_SERVER_URL:-https://ap.getmusterup.com}
      MINIO_BROWSER_REDIRECT_URL: ${MINIO_BROWSER_REDIRECT_URL:-https://as.getmusterup.com}

      # Init method (go or sh)
      MINIO_INIT_METHOD: ${MINIO_INIT_METHOD:-go}
    networks:
      - minio_net
    restart: unless-stopped

volumes:
  minio-data:

networks:
  minio_net:
