version: "3.8"

services:
  minio:
    build: .
    container_name: mini_minio
    # Console
    volumes:
      - minio-data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin123
      MINIO_BUCKET_NAME: anivault
      MINIO_SERVER_URL: https://storage.getmusterup.com
      MINIO_BROWSER_REDIRECT_URL: https://console.getmusterup.com

      # Choose init method: "go" or "sh"
      MINIO_INIT_METHOD: go
    networks:
      - minio_net
    restart: unless-stopped

volumes:
  minio-data:

networks:
  minio_net:
